body{
    margin: auto;
    background:var(--tertiary-color);
    color: black;
}

/* * coupon code CSS*/ 
 #coupon {
    width: 100%;
    height: 150vh;
    position: absolute;
    z-index: 100;
    margin-top: 4%;        
    visibility: none;
    box-shadow: 8px 8px 64px #d309ee, -8px -8px 64px #62606067;
    background: rgba(0, 0, 0, 0.562);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(7px);           
}      
    #coupon img{
    height: 600px;
    width: 35%;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
}        
    #coupon button {
    font-size: 30px;
    width: 40px;
    z-index: 100;
    position: absolute;
    background-color: #297473;
    cursor: pointer;
    border-radius: 20%;
    margin-left: 1036px;
}
/* End of Coupon code */

/* Dark mode & Light mode */
:root{
    --primary-color:  white;
    --secondary-color: #121010;
    --tertiary-color: #eaeded;
    --offer-color: #1e6750;
    --slider-color: #d2e9e9;
    
}
.dark-theme{
    --primary-color:  #121010;
    --secondary-color: white;
    --tertiary-color: black;
    --offer-color: #edd656;
    --slider-color: black;   
}
#moon{
    width: 35px;
    margin-left: 1195px;
    margin-top: -11px;
    cursor: pointer;
}
/* Dark mode & Light mode */

/* <!-- ...........Header......... --> */
header{
    
    height: 65px;
    background-color: #131921;
    position: relative;
  
}
#container{
    position: relative;
    top: 0;
    width: 100%;
    background:var(--secondary-color); 
}

/* <!-- ...........Header......... --> */

/* <!-- ...........Header Menu......... --> */
#header-menu{
    height: 50px;
    background-color: #232f3e; 
    position:relative; 
}
#logo img{
    width: 147px;
    height: 54px;
    margin-left: 10px;
    float: left;
    margin-top: 7px;
   
}
#logo img:hover{
    border: 1px solid white;
}
#map img{
    width: 168px;
    height: 48px;
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}
#map img:hover{
    border: 1px solid white;
}

#DROPDOWN{
    width: 57px;
    height: 47px;
    margin-top: 10px;
    margin-left: 6px;
    background-color: #f3f3f3;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    float: left;
    
}
#search{
    width: 10%;
    height: 47px;
    float: left;
    
    
   
}
#search1{
    width: 470%;
    height: 47px;
    margin-top: 10px;
    float: left;
}

#sicon input{
    margin-left: 539px;
    margin-top: 10px;
    float: left;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 46px;
}

#flag{
    width: 27px;
    height: 20px;
    margin-left: 20px;
    margin-top: 23px;
    float: left;
}
#flagselect{
    width: 42px;
    height: 22px;
    margin-left: 4px;
    margin-top: 22px;
    
    float: left;
}

.hello{
    margin-top: 11px;
    margin-left: 24px;
    display: inline-block;
    position: absolute;
}
.hello span{
    color: white;
}
.return{
    margin-top: 13px;
    margin-left: 180px;
    display: inline-block;
    position: absolute;
    
    
}
.return span{
    color: white;
    text-decoration:underline #131921;
    
}
.return:hover{
    border: 1px solid white;
}

.cart{
    height: 20px;
    width: 30px;
    float: left;
    margin-left: 234px;
    margin-top: 8px;
}

/* The sidepanel menu */
.sidepanel {
    height: 750px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

ul {
    list-style-type: none;
    margin-left: 80px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    margin-top: -47px;
    
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    border: 1px solid white;
  }
  ul img{
    margin-left: 71px;
    margin-top: -2px;
  }
/* <!-- ...........Header Menu......... --> */


/* <!-- ...........Main menu......... --> */
#main-menu{
    margin-left: 0%;
    margin-top: 0px;
    /* border: 3px rgb(10, 10, 10) solid; */
    
  
    /* background-image: url(Images/Main-image.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.Main_Menu1{
    height: 435px;
    width: 24%;
    margin-left: 0.8%;
    margin-top: -23%;
    position: relative;
    /* border: #c61508 solid 2px; */
    float: left;
    background:var(--primary-color); 
        
}
#signin{
    height: 150px;
    
}
  
.loginheading{
    text-align: center;
}
.signbtn{
    width: 300px;
    margin-left: 40px;
}
#weather{
    height: 250px;
    margin-top: -201px;
    width: 330px;
    text-align: center;
    margin-left: 38px;
    position: relative;
    
}
.weatherimg{
    font-size: 100px;
    color: #747311;
    margin-left: 12px;
}

.Main_Menu1 h2{
    margin-left: 10px;
    margin-top: 5px;
    font-size:20px;
    font-weight: bold;
    color:var(--secondary-color); 

}
.Sub_Menu1{
    /* border: #232f3e solid 1px; */
    height: 150px;
    width: 46%;
    margin-left: 8px;
    margin-top: 3px;
    display:inline-block;   
}
.Sub_Menu1 a img{
    width: 100%;
    height: 100%;
    float: left;
    
}
.Sub_Menu1 h5{
    margin-top: 3px;
    font-size: medium;
    color: var(--secondary-color);
}
.Main_Menu1 a {
    line-height: 30px;
    margin-left: 10px;
    font-weight: bold;
    color:var(--offer-color);
    text-decoration: none;
}

.Sub_Menu-3{
    width: 91%;
    height: 80%;
    
}
.Sub_Menu-3 a img{
    width: 100%;
    height: 93%;
    margin-left: 1.7%;  
    
}
#sub {
    line-height: 10px;
    margin-left: 10px;
    font-weight: bold;
    color:var(--offer-color);
    text-decoration: none;
}

/* <!-- ...........Main menu......... --> */


/* <!-- ...........Main Section-1......... --> */
#main-section1{
    /* border: 3px rgb(32, 11, 150) solid; */
    height: 455px;
    width: 100%;
    margin-top: 4%;
      
  
}
#main-section1 .Main_Menu1{
    height: 435px;
    width: 24%;
    margin-left: 0.8%;
    margin-top: 1%;
    /* border: #c61508 solid 2px; */
    float: left;
    background:var(--primary-color);  
}
/* <!-- ...........Main Section-1......... --> */


 /* <!-- ...........Main Section-2......... --> */
 #main-section2{
    border: 0px rgb(75, 82, 16) solid;
    height: 300px;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
 }
/* <!-- ...........Main Section-2......... --> */

/* Product Slider carousel */
#carousel-row {
    position: relative;
    width: 100%;
    /* height: max-content; */
    background:var(--slider-color);
    padding-top: 60px;
    margin-left: 0%;
}

#carousel-row-title {
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: clamp(0.2rem, 4vw, 1.1rem);
    font-weight: bold;
    color:var(--offer-color)
}

#carousel-row-title>a {
    text-decoration: none;
    font-size: clamp(0.1rem, 3vw, 0.8rem);
    color:rgb(144, 209, 24);
}
#carousel-col {
    position: relative;
    border-bottom: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    background: white;
}
#carousel-link {
    position: relative;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 230px;
    padding: 8% 0;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#carousel-link>.image {
    height: 80%;
    width: 100%;
    background: url(https://i.ibb.co/bz88MTM/1.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}

#carousel-link>span {
    margin-left: 10px;
    font-size:medium;
    text-align: center;
}
.image-two {
    background: url(https://i.ibb.co/88Ssr8G/2.jpg) no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
.image-three {
    background: url(https://i.ibb.co/SB34mMX/3.jpg) no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
.image-four {
    background: url(https://i.ibb.co/x37NQW6/4.jpg) no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
.image-five {
    background: url(https://i.ibb.co/W2BssPF/5.jpg) no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
.image-six {
    background: url(https://i.ibb.co/cFgrrbs/6.jpg) no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
.image-seven {
    background: url(https://i.ibb.co/ngCdkt5/7.jpg) no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}
.image-eight {
    background: url(https://i.ibb.co/PFTYXG1/8.jpg) no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}


.carousel-control-next-icon {
    background-image: url(https://img.icons8.com/ios-filled/70/000000/chevron-right.png);
}

.carousel-control-prev-icon {
    background-image: url(https://img.icons8.com/ios-filled/70/000000/chevron-left.png);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2rem;
    height: 3rem;
    margin-top: 2100px;
}
/* End of product slider carouse */

/* Product page */
#main-section3{
    /* border: 3px rgb(32, 11, 150) solid; */
    height: 100px;
    width: 100%;
    margin-top: 365px;
}
/* End Product page  */

/* <!-- ...........Footer section......... --> */
footer{
    
    height: 300px;
    
}
.backBg{
    background: var(--tertiary-color);
}
/* <!-- ...........Footer section......... --> */
